<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body id="body">


      <div id="main">
        
        <div id="intro">
          <nav class="navbar">
            <ul>
              <li><a href="#about" >meet me</a></li>
              <li><a href="https://github.com/adevlinb"  target="_blank">github</a></li>
              <li><a href="https://www.linkedin.com/in/devlin-booth/" target="_blank" >linkedin</a></li>
              <li><a class="nav-a" href="images/Devlin Booth Resume 52122-P.pdf" target="_blank">resume</a></li>
              <li><a href="mailto:adevlin.booth@gmail.com" target="_blank">email</a></li>
            </ul>
          </nav>
          <div id="intro_header">
            <div  id="name">
              <h1>I'm Devlin! &nbsp;&nbsp; 👋</h1>
              <div id="title_block">
                <div id="title">Full Stack </div>
                <div id="title_two">Software Engineer</div>
              </div>
              <div id="bottom">
                <h5 id="body_text_intro">Passionate problem solver, matcha lover, and coder living in sunny Los Angeles, CA. 
                  Bringing my design and hospitality experiences into the tech universe.</h5>
                <div class="row">
                  <a href="#projects" class="copyright"><h3>meet me</h3></a>
                  <a href="#contact" class="copyright"><h3>connect</h3></a>
                </div>
                <a href="#meetme"><div class="arrow"></div></a>
              </div>
            </div>
          </div>
        </div>


        <div id="meet_me_container">

          
            <h1> Hello World! </h1>
  
              <p>
                Hi! I'm Devlin Booth. Expert problem solver and communicator in time sensitive and high-pressure situations where multi-tasking, asking for
                help, and being self-sufficient become necessary for successful outcomes. Coupled with outside-of-the-box design
                approaches to implementation of structural and/or spacial elements in a given problem statement. Experiences
                that yield a well-rounded individual capable of bringing creativity, courtesy, and efficiency to the work environment.
              </p>
              <br>
              <!-- <h1> Experience</h1> -->
              <div class="row">
                <div class="column">
                  <h3>General Assembly</h3>
                  <h3>Home: Los Angeles</h3>
                  <h3>Home: Los Angeles</h3>
                  <h3>Home: Los Angeles</h3>
                  <h3>Home: Los Angeles</h3>
                </div>
                <img id="meet_me_pic" src="images/Profile Pic.png" alt="profile_pic">
              </div>
              <!-- <h1> Skills</h1>
              <div class="row" id="grid_placement">
                      <div id="skills_grid">
                        <div class="skill">
                          <img class="skill_icon" src="images/javascript.svg" alt="javascript_icon">
                          <p>jscrpt</p>
                        </div>
                        <div class="skill">
                          <img class="skill_icon" src="images/html_svg.svg" alt="html_icon">
                          <p>html</p>
                        </div>
                        <div class="skill">
                          <img class="skill_icon" src="images/css_svg.svg" alt="css_icon">
                          <p>css</p>
                        </div>
                        <div class="skill">
                          <img class="skill_icon" id="node" src="images/nodejs.svg" alt="nodejs_expressjs_icon">
                          <p>node/exp.</p>
                        </div>
                        <div class="skill">
                          <img class="skill_icon" src="images/react.svg" alt="react_icon">
                          <p>react</p>
                        </div>
                        <div class="skill">
                          <img class="skill_icon" src="images/mongodb.svg" alt="mongodb_icon">
                          <p>mongodb</p>
                        </div>
                        <div class="skill">
                          <img class="skill_icon" src="images/python.svg" alt="mongodb_icon">
                          <p>python</p>
                        </div>
                        <div class="skill">
                          <img class="skill_icon" src="images/django (1).svg" alt="django_icon">
                          <p>django</p>
                        </div>
                        <div class="skill">
                          <img class="skill_icon" src="images/postgresql.svg" alt="postgres_icon">
                          <p>postgresql</p>
                        </div>
                        <div class="skill_learning">
                          <img class="skill_icon" src="images/swift.svg" alt="swift_icon">
                          <p>swift</p>
                        </div>
                        <div class="skill_learning">
                          <img class="skill_icon" src="images/xcode.svg" alt="xcode_icon">
                          <p>xcode</p>
                        </div>
                        <div class="skill_learning">
                          <img class="skill_icon" src="images/go.svg" alt="golang_icon">
                          <p>go lang</p>
                        </div>
                        <div class="skill_learning">
                          <img class="skill_icon" src="images/socket.svg" alt="socket_icon">
                          <p>socket.io</p>
                        </div>
                        <div class="skill_learning">
                          <img class="skill_icon" src="images/amazon-web-services.svg" alt="aws_icon">
                          <p>AWS</p>
                        </div>
                      </div> -->


              </div>
               <div id="skills_container">
                <h3>Tech Skills</h3>
                <p>Building on my experiences at GA, I have been exploring other languages, frameworks, and tech stacks with a
                  few specific interests in mind. I'd like to be able to develop chat features in some of my apps someday. So I have
                  already started playing with socket.io and I'm quite pleased with how straightforward the tech is. I thought it would
                  be far more complicated. I am also quite interested in mobile app development. Specifically on iPhones because the tech
                  is so popular and because I think it would be highly beneficial to learn a more strongly typed language. From here I should be able to
                  pick up on so many other tech concepts.</p>
                  
                  <pre class="row"><div class="row" id="key"></div> = currently learning</pre>
                  <br>
                <div id="skills_grid">
                  <div class="skill">
                    <img class="skill_icon" src="images/javascript.svg" alt="javascript_icon">
                    <p>javascript</p>
                  </div>
                  <div class="skill">
                    <img class="skill_icon" src="images/html_svg.svg" alt="html_icon">
                  <p>html</p>
                </div>
                <div class="skill">
                  <img class="skill_icon" src="images/css_svg.svg" alt="css_icon">
                  <p>css</p>
                </div>
                <div class="skill">
                  <img class="skill_icon" id="node" src="images/nodejs.svg" alt="nodejs_expressjs_icon">
                  <p>nodejs/express</p>
                </div>
                <div class="skill">
                  <img class="skill_icon" src="images/react.svg" alt="react_icon">
                  <p>react</p>
                </div>
                <div class="skill">
                  <img class="skill_icon" src="images/mongodb.svg" alt="mongodb_icon">
                  <p>mongodb</p>
                </div>
                <div class="skill">
                  <img class="skill_icon" src="images/python.svg" alt="mongodb_icon">
                  <p>python</p>
                </div>
                <div class="skill">
                  <img class="skill_icon" src="images/django (1).svg" alt="django_icon">
                  <p>django</p>
                </div>
                <div class="skill">
                  <img class="skill_icon" src="images/postgresql.svg" alt="postgres_icon">
                  <p>postgresql</p>
                </div>
                  <div class="skill_learning">
                    <img class="skill_icon" src="images/swift.svg" alt="swift_icon">
                    <p>swift</p>
                  </div>
                  <div class="skill_learning">
                    <img class="skill_icon" src="images/xcode.svg" alt="xcode_icon">
                    <p>xcode</p>
                  </div>
                  <div class="skill_learning">
                    <img class="skill_icon" src="images/go.svg" alt="golang_icon">
                    <p>go lang</p>
                  </div>
                  <div class="skill_learning">
                    <img class="skill_icon" src="images/socket.svg" alt="socket_icon">
                    <p>socket.io</p>
                  </div>
                  <div class="skill_learning">
                    <img class="skill_icon" src="images/amazon-web-services.svg" alt="aws_icon">
                    <p>AWS</p>
                  </div>
                </div>
            </div>
              <!-- <div class="row">
                <div class="column">
                  <h3>Home: Los Angeles</h3>
                  <h3>Home: Los Angeles</h3>
                  <h3>Home: Los Angeles</h3>
                  <h3>Home: Los Angeles</h3>
                  <h3>Home: Los Angeles</h3>
                </div>
                <img id="meet_me_pic" src="images/Profile Pic.png" alt="profile_pic">
              </div> -->
            
       
          <div class="row">
            <a href="#projects" class="copyright"><h3>meet me</h3></a>
            <a href="#contact" class="copyright"><h3>get in touch</h3></a>
            <a href="#contact" class="copyright"><h3>get in touch</h3></a>
          </div>
          <a href="#meetme"><div class="blue_arrow" ></div></a>
          <div id="breakline"></div>
          </div>

          <div id="projects_container">

            <div id="projects"> 
              <div id="meetme">
                <h3>projects</h3>
              </div>
              <p>As I continue to grow in the tech world I am astounded by the numerous technologies that are out there and how
                they have come together to create some of the amazing experiences that we now have as humans. It's truly amazing what we can do.
              </p>
              <div id="xyla_container">
                <img class="carousel_images" id="xyla" src="images/xyla2.png" alt="Fourth slide">
                <div class="testing">
                  <h1>XYLA</h1>
                  <div class="row">
                    <a href="https://xyla-books.herokuapp.com/" target="_blank"><img id="project_link" src="images/linkSvg.svg" alt="link_xyla"></a>
                    <a href="https://github.com/adevlinb/XYLA" target="_blank"><img id="github_logo" src="images/GitHub.png" alt="github_xyla"></a>
                  </div>
                  <p>Social app for book lovers.</p>
                  <div class="project_skill_box">
                    <div class="project_skill">
                      <img class="skill_icon" src="images/javascript.svg" alt="javascript_icon">
                      <p>javascript</p>
                    </div>
                    <div class="project_skill">
                      <img class="skill_icon" src="images/html_svg.svg" alt="html_icon">
                      <p>html</p>
                    </div>
                    <div class="project_skill">
                      <img class="skill_icon" src="images/css_svg.svg" alt="css_icon">
                      <p>css</p>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <div id="taste_container">
                <div class="testing">
                  <h3>TasteBuds</h3>
                  <div class="row">
                    <a class="title" href="https://taste-buds-dining.herokuapp.com/" target="_blank"><img id="project_link" src="images/linkSvg.svg" alt="link_xyla"></a>
                    <a class="git_links" href="https://github.com/adevlinb/fakebuds" target="_blank"><img id="github_logo" src="images/GitHub.png" alt="github_taste_buds"></a>
                  </div>
                  <p>Dining events app for saving, sharing, recommending, and voting on recipes.</p>
                  <div class="project_skill_box">
                    <div class="project_skill">
                      <img class="skill_icon" src="images/javascript.svg" alt="javascript_icon">
                      <p>javascript</p>
                    </div>
                    <div class="project_skill">
                      <img class="skill_icon" src="images/html_svg.svg" alt="html_icon">
                      <p>html</p>
                    </div>
                    <div class="project_skill">
                      <img class="skill_icon" src="images/css_svg.svg" alt="css_icon">
                      <p>css</p>
                    </div>
                  </div>
                </div>
                <img class="carousel_images" id="taste" src="https://i.imgur.com/sq1FqTx.png" alt="Third slide">
              </div>
              <br>


              <div id="climate_container">
                <img class="carousel_images" id="climate" src="images/climateevents.png" alt="Second slide">
                <div class="testing">
                  <h3>Climate Events</h3>
                  <div class="row">
                    <a class="title" href="https://climate-events.herokuapp.com/" target="_blank"><img id="project_link" src="images/linkSvg.svg" alt="link_climate_events"></a>
                    <a class="git_links" href="https://github.com/adevlinb/climate-events" target="_blank"><img id="github_logo" src="images/GitHub.png" alt="github_climate_events"></a>
                  </div>
                  <p>Events logging app and diary that provides weather data based on user provided address.</p>
                  <div class="project_skill_box">
                    <div class="project_skill">
                      <img class="skill_icon" src="images/javascript.svg" alt="javascript_icon">
                      <p>javascript</p>
                    </div>
                    <div class="project_skill">
                      <img class="skill_icon" src="images/html_svg.svg" alt="html_icon">
                      <p>html</p>
                    </div>
                    <div class="project_skill">
                      <img class="skill_icon" src="images/css_svg.svg" alt="css_icon">
                      <p>css</p>
                    </div>
                  </div>
              
                </div>
              </div>



              <br>
              <div id="master_container">
                <div class="testing">
                  <h3>Mastermind</h3>
                  <div class="row">
                    <a class="title" href="https://adevlinb.github.io/Mastermind/" target="_blank"><img id="project_link" src="images/linkSvg.svg" alt="link_mastermind"></a> 
                    <a class="git_links" href="https://github.com/adevlinb/Mastermind" target="_blank"><img id="github_logo" src="images/GitHub.png" alt="github_mastermind"></a>
                  </div>
                  <p>Digital version of the popular 1970's Mastermind coding game.</p>
         
                  <div class="project_skill_box">
                    <div class="project_skill">
                      <img class="skill_icon" src="images/javascript.svg" alt="javascript_icon">
                      <p>javascript</p>
                    </div>
                    <div class="project_skill">
                      <img class="skill_icon" src="images/html_svg.svg" alt="html_icon">
                      <p>html</p>
                    </div>
                    <div class="project_skill">
                      <img class="skill_icon" src="images/css_svg.svg" alt="css_icon">
                      <p>css</p>
                    </div>
                  </div>
                </div>
                <img class="carousel_images" id="mastermind" src="images/mastermind.png" alt="First slide">
              </div>
              <h5>See something you like?</h5>
              <a href="#contact">Let's connect!</a>
            </div>
          </div>
          
            <div id="skills"> 
        
              <!-- <div id="skills_container">
                <h3>Tech Skills</h3>
                <p>Building on my experiences at GA, I have been exploring other languages, frameworks, and tech stacks with a
                  few specific interests in mind. I'd like to be able to develop chat features in some of my apps someday. So I have
                  already started playing with socket.io and I'm quite pleased with how straightforward the tech is. I thought it would
                  be far more complicated. I am also quite interested in mobile app development. Specifically on iPhones because the tech
                  is so popular and because I think it would be highly beneficial to learn a more strongly typed language. From here I should be able to
                  pick up on so many other tech concepts.</p>
                  
                  <pre class="row"><div class="row" id="key"></div> = currently learning</pre>
                  <br>
                <div id="skills_grid">
                  <div class="skill">
                    <img class="skill_icon" src="images/javascript.svg" alt="javascript_icon">
                    <p>javascript</p>
                  </div>
                  <div class="skill">
                    <img class="skill_icon" src="images/html_svg.svg" alt="html_icon">
                  <p>html</p>
                </div>
                <div class="skill">
                  <img class="skill_icon" src="images/css_svg.svg" alt="css_icon">
                  <p>css</p>
                </div>
                <div class="skill">
                  <img class="skill_icon" id="node" src="images/nodejs.svg" alt="nodejs_expressjs_icon">
                  <p>nodejs/express</p>
                </div>
                <div class="skill">
                  <img class="skill_icon" src="images/react.svg" alt="react_icon">
                  <p>react</p>
                </div>
                <div class="skill">
                  <img class="skill_icon" src="images/mongodb.svg" alt="mongodb_icon">
                  <p>mongodb</p>
                </div>
                <div class="skill">
                  <img class="skill_icon" src="images/python.svg" alt="mongodb_icon">
                  <p>python</p>
                </div>
                <div class="skill">
                  <img class="skill_icon" src="images/django (1).svg" alt="django_icon">
                  <p>django</p>
                </div>
                <div class="skill">
                  <img class="skill_icon" src="images/postgresql.svg" alt="postgres_icon">
                  <p>postgresql</p>
                </div>
                  <div class="skill_learning">
                    <img class="skill_icon" src="images/swift.svg" alt="swift_icon">
                    <p>swift</p>
                  </div>
                  <div class="skill_learning">
                    <img class="skill_icon" src="images/xcode.svg" alt="xcode_icon">
                    <p>xcode</p>
                  </div>
                  <div class="skill_learning">
                    <img class="skill_icon" src="images/go.svg" alt="golang_icon">
                    <p>go lang</p>
                  </div>
                  <div class="skill_learning">
                    <img class="skill_icon" src="images/socket.svg" alt="socket_icon">
                    <p>socket.io</p>
                  </div>
                  <div class="skill_learning">
                    <img class="skill_icon" src="images/amazon-web-services.svg" alt="aws_icon">
                    <p>AWS</p>
                  </div>
                </div>
            </div> -->
            
            <div id="photography_container"> 
              <h3>Photography</h3>
              <div>
              <p>
                I've always enjoyed Photography on an amateur level. I do feel that I have a little bit of an eye for it.. you be the judge.. just don't tell me otherwise! HAHA!
              </p>
              <div class="photos">
                <img src="https://i.imgur.com/mux9PCL.jpg" alt="">
                <img id="fish" src="https://i.imgur.com/wc4N88G.jpg" alt="">
                <img src="https://i.imgur.com/pWFEzgs.jpg" alt="">
                <img src="https://i.imgur.com/EerHg75.jpg" alt="">
                <img src="https://i.imgur.com/FoQCo78.jpg" alt="">
                <img src="https://i.imgur.com/H0Rvr3x.jpg" alt="">
                <img src="https://i.imgur.com/Dh3yUfK.jpg" alt="">
                <img src="https://i.imgur.com/KihIDL7.jpg" alt="">
                <img src="https://i.imgur.com/5AqpeOj.jpg" alt="">
              </div>
            </div>
            </div>
            <div id="experience"> 
              <h3 >Landscape Architecture</h3>
              <div id="experience_container">
                <div>
                  <h3>Zachary, Louisiana - Design Proposal </h3>
                  <p>Over the course of the semester we analyzed the city, identified potential areas for improvement, and 
                    made proposals based on the research. My partner and I identified the fact that the city had been avoiding 
                    growth in the flood prone areas of the city and as a result there were limited ways to traverse the city from east to west.
                    Our recommendation was a creative way to connect the city through these spaces and reduce travel time while maintining the greenery.
                  </p>
                </div>
                <div>
                  <h3>Baton Rouge, Louisiana - Site Intervention</h3>
                  <p>Completed 420 hour immersive program that includes learning multiple languages, frameworks, libraries, and database
                  types through four projects that executed app planning through wire- framing, erd-diagramming, and (AAU) user-story
                  implementation of features for agile web development practices. Additionally took the role of project manager in group
                  git-hub workflow environment in a team of three.</p>
                </div>
              </div>
            </div>
            
          </div>
          
        <div id="contact"> 
          <h3 class="titles">Let's connect!</h3>
          <h5>Feel free to reach out!</h5>
            <a class="nav-a" href="https://github.com/adevlinb" target="_blank"><img id="github_contact" src="images/GitHub.png" alt="github_main"></a>
            <a class="nav-a" href="https://www.linkedin.com/in/devlin-booth/" target="_blank"><img id="linkedin"  src="images/linkedin.png" alt="linked_in"></a>
            <a class="nav-a" href="images/Devlin Booth Resume 5:12:22.pdf" target="_blank"><img id="github_contact" src="images/resume_svg.svg" alt="resume"></a>
            <a class="nav-a" href="mailto:adevlin.booth@gmail.com" target="_blank"><img id="github_contact" src="images/email_svg.svg" alt="email"></a>
        </div>

      </div>
      </div>




    <footer>
      <a id="top" href="#body">back to top</a>
    </footer>
  </body>
</html>