<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body id="body">


  <div id="main">

    <div id="intro">
      <nav class="navbar">
        <ul>
          <li><a href="#meet_me_container">[ME]</a></li>
          <li><a href="https://github.com/adevlinb" target="_blank">GITHUB</a></li>
          <li><a href="https://www.linkedin.com/in/devlin-booth/" target="_blank">LINKEDIN</a></li>
          <li><a href="images/Devlin Booth Resume 91322PDF.pdf" target="_blank">RESUME</a></li>
          <li><a href="mailto:adevlin.booth@gmail.com" target="_blank">EMAIL</a></li>
        </ul>
      </nav>
      <div id="intro_header">
        <div id="name">
          <h1>I'm Devlin! &nbsp;&nbsp; 👋</h1>
          <div id="title_block">
            <div id="title">Full Stack </div>
            <div id="title_two">Software Engineer</div>
          </div>
          <div class="bottom">
            <h5 id="body_text_intro">Passionate problem solver, matcha lover, and coder living in sunny Los Angeles, CA.
              Bringing my design and hospitality experiences into the tech universe.</h5>
            <div class="row">
              <a href="images/Devlin Booth Resume 91322PDF.pdf" target="_blank" class="copyright">
                <h3>RESUME</h3>
              </a>
              <a href="mailto:adevlin.booth@gmail.com" target="_blank" class="copyright">
                <h3>EMAIL</h3>
              </a>
            </div>
            <a href="#meet_me_container">
              <div class="arrow"></div>
            </a>
          </div>
        </div>
      </div>
    </div>


    <div id="meet_me_container">
      <div id="hello_container">
        <h1 id="hello_world"> Hello World</h1>
        <p>
          Hi! I'm Devlin Booth. Expert problem solver and communicator in time sensitive and high-pressure situations
          where multi-tasking, asking for help, and being self-sufficient become necessary for successful outcomes. Coupled with outside-of-the-box
          design approaches to implementation of structural and/or spacial elements in a given problem statement. Experiences
          that yield a well-rounded individual capable of bringing creativity, courtesy, and efficiency to the work environment.
        </p>
      </div>
      <div id="meet_me_media_query">
        <div id="pic_container">
          <img id="meet_me_pic" src="images/Profile Pic.png" alt="profile_pic">
          <div class="column_centered">
            <h2>Let's Connect!</h2>
            <div class="row_centered" id="contact_links_meetme">
              <a href="https://github.com/adevlinb" target="_blank"><img class="github_contact_meetme"
                  src="images/GitHub.png" alt="github_main"></a>
              <a href="https://www.linkedin.com/in/devlin-booth/" target="_blank"><img id="linkedin"
                  class="github_contact_meetme" src="images/linkedin.svg" alt="linked_in"></a>
              <a href="images/Devlin Booth Resume 91322PDF.pdf" target="_blank"><img class="github_contact_meetme"
                  id="resume" src="images/resume.svg" alt="resume"></a>
              <a href="mailto:adevlin.booth@gmail.com" target="_blank"><img class="github_contact_meetme" id="email"
                  src="images/email.svg" alt="email"></a>
            </div>
          </div>
        </div>
        <div class="column">
          <div id="list">
            <p>name: </p>
            <p>devlin </p>
            <p>from: </p>
            <p>new orleans, la</p>
            <p>currently: </p>
            <p>los angeles, ca</p>
            <p>activities:</p>
            <p>🥾 🏃‍♂️ 🏋️‍♂️ 🧘‍♂️</p>
            <p>entertainment:</p>
            <p>📺 🎭 🎥</p>
            <p>play music:</p>
            <p>🎹 🎸 🎤</p>
            <p>hobbies:</p>
            <p>🧵 🧩 ♟️</p>
            <p>food:</p>
            <p>🍣 🌮 🍜 🥟 🥓 🍔 🍪 🥛</p>
          </div>
        </div>
      </div>


    </div>
    <div id="skills_container">
      <h1>Tech Skills</h1>
      <p>Building on my experiences at GA, I have been exploring other languages, frameworks, and tech stacks with a
        few specific interests in mind. I'd like to be able to develop chat features in some of my apps someday. So I
        have already started playing with socket.io and I'm quite pleased with how straightforward the tech is. I thought it
        would be far more complicated. I am also quite interested in mobile app development. Specifically on iPhones because
        the tech is so popular and because I think it would be highly beneficial to learn a more strongly typed language. From
        here I should be able to pick up on so many other tech concepts.
      </p>
      <br>
      <div id="skills_grid">
        <div class="skill">
          <img class="skill_icon" src="images/javascript.svg" alt="javascript_icon">
          <p>javascript</p>
        </div>
        <div class="skill">
          <img class="skill_icon" src="images/html_svg.svg" alt="html_icon">
          <p>html</p>
        </div>
        <div class="skill">
          <img class="skill_icon" src="images/css_svg.svg" alt="css_icon">
          <p>css</p>
        </div>
        <div class="skill">
          <img class="skill_icon" id="node" src="images/nodejs.svg" alt="nodejs_expressjs_icon">
          <p>nodejs/express</p>
        </div>
        <div class="skill">
          <img class="skill_icon" src="images/react.svg" alt="react_icon">
          <p>react</p>
        </div>
        <div class="skill">
          <img class="skill_icon" src="images/mongodb.svg" alt="mongodb_icon">
          <p>mongodb</p>
        </div>
        <div class="skill">
          <img class="skill_icon" src="images/python.svg" alt="mongodb_icon">
          <p>python</p>
        </div>
        <div class="skill">
          <img class="skill_icon" src="images/django.svg" alt="django_icon">
          <p>django</p>
        </div>
        <div class="skill">
          <img class="skill_icon" src="images/postgresql.svg" alt="postgres_icon">
          <p>postgresql</p>
        </div>
        <div class="skill">
          <img class="skill_icon" src="images/docker.svg" alt="docker_icon">
          <p>docker</p>
        </div>
        <div class="skill">
          <img class="skill_icon mocha" src="images/mocha.svg" alt="mocha_icon">
          <p>mocha / chai</p>
        </div>
        <div class="skill">
          <img class="skill_icon" src="images/code-sandbox.svg" alt="code-sandbox_icon">
          <p>code-sandbox</p>
        </div>
        <div class="skill">
          <img class="skill_icon mocha" src="images/github.svg" alt="code-sandbox_icon">
          <p>github</p>
        </div>
        <div class="skill">
          <img class="skill_icon mocha" src="images/readme.svg" alt="code-sandbox_icon">
          <p>documentation</p>
        </div>
        <div class="skill">
          <img class="skill_icon" src="images/api.svg" alt="code-sandbox_icon">
          <p>restful-api</p>
        </div>
        <!-- <div class="skill_learning">
          <img class="skill_icon" src="images/swift.svg" alt="swift_icon">
          <p>swift</p>
       </div>  -->

      </div>
    </div>

    <div id="projects_container">

      <div class="projects">
        <div class="row projects_title">
          <h1>InstaCats</h1>
          <div class="project_skill_box">
            <div class="project_skill">
              <img class="skill_icon" src="images/github.svg" alt="javascript_icon">
            </div>
            <div class="project_skill">
              <img class="skill_icon" src="images/react.svg" alt="html_icon">
            </div>
            <div class="project_skill">
              <img class="skill_icon" src="images/api.svg" alt="css_icon">
            </div>
          </div>
        </div>
        <p>• Fun react based app for uploading your favorite kitty-kat photos and commenting on other cats. It interacts with an external api that
          can save your comments and photos!
        </p>
        <br>

        <div class="pic-container">
          <img class="carousel_images pic" src="images/instacats.png" alt="Fourth slide">
        </div>
        <br>
        <div class="row project_button_alignment">
          <a class="project_buttons" href="https://github.com/adevlinb/instacats" target="_blank">GITHUB REPO</a>
        </div>

        <p>Please check out the github repo for coding style and logic which includes react hooks like
          useEffect and useState, along with photo-upload and UI examples.
        </p>
      </div>

      <div class="projects">
        <div class="row projects_title">
          <h1>[Nifty-Docs]</h1>
          <div class="project_skill_box">
            <div class="project_skill">
              <img class="skill_icon" src="images/readme.svg" alt="html_icon">
            </div>
            <div class="project_skill">
              <img class="skill_icon" src="images/docker.svg" alt="css_icon">
            </div>
          </div>
        </div>
        <p>• API Documentation for Django Rest Framework developed to offer various services requested by client including slug based routing to increment
          keys and photo metadata saving.
        </p>
        <br>

        <div class="pic-container">
          <img class="carousel_images pic" src="images/nifty-docs.png" alt="Fourth slide">
        </div>
        <br>
        <div class="row project_button_alignment">
          <a class="project_buttons" href="https://adevlinb.github.io/nifty-docs/" target="_blank">[NiftyDocs]</a>
          <a class="project_buttons" href="https://github.com/adevlinb/nifty-docs/" target="_blank">GITHUB REPO</a>
        </div>

        <p>Please check out the deployed site and github link to see some documentation style and
         learn how to access the dockerized version of the Nifty-Dogs-API!
        </p>
      </div>


      <div class="projects">
        <div class="row projects_title">
          <h1>[Nifty-API]</h1>
          <div class="project_skill_box">
            <div class="project_skill">
              <img class="skill_icon" src="images/python.svg" alt="javascript_icon">
            </div>
            <div class="project_skill">
              <img class="skill_icon" src="images/postgresql.svg" alt="html_icon">
            </div>
            <div class="project_skill">
              <img class="skill_icon" src="images/django-rest.svg" alt="css_icon">
            </div>
          </div>
        </div>
        <p>• API using Python and Django Rest Framework that was developed to offer various services requested by client including slug based routing to increment
          keys and photo metadata saving.
        </p>
        <br>

        <div class="pic-container">
          <img class="carousel_images pic" src="images/nifty-dogs.png" alt="Fourth slide">
        </div>
        <br>
        <div class="row project_button_alignment">
          <a class="project_buttons" href="https://nifty-dogs-api.herokuapp.com/" target="_blank">[NiftyDogs]</a>
          <a class="project_buttons" href="https://github.com/adevlinb/lofty-backend" target="_blank">GITHUB REPO</a>
        </div>

        <p>Please check out the deployed site and github link to see some documentation and coding approaches to building out this restful API that
          is equipped to serialize / dexerialize json format to interact with front end requests and approaches to collecting metadata for images and saving the info.
          with the image.
        </p>
      </div>

      <div class="projects">
        <div class="row projects_title">
          <h1>[Nifty-Box]</h1>
          <div class="project_skill_box">
            <div class="project_skill">
              <img class="skill_icon" src="images/code-sandbox.svg" alt="javascript_icon">
            </div>
            <div class="project_skill">
              <img class="skill_icon" src="images/react.svg" alt="html_icon">
            </div>
            <div class="project_skill">
              <img class="skill_icon" src="images/javascript.svg" alt="css_icon">
            </div>
          </div>
        </div>
        <p>• CodeSandbox set up to allow access to, and interact with, the deployed Nifty-Dogs API.
          Quick way to interact with all of the features of the [Nifty-Dogs] API.
        </p>
        <br>

        <div class="pic-container">
          <img class="carousel_images pic" src="images/nifty-box.png" alt="Fourth slide">
        </div>
        <br>
        <div class="row project_button_alignment">
          <a class="project_buttons" href="https://nifty-dogs-api.herokuapp.com/" target="_blank">[NiftyBox]</a>
        </div>
        <p>Please check out this code CodeSandbox to interact with the Nifty-Dogs-API and get a feel for my approaches to building React projects.
        </p>
      </div>

      <div class="projects">
        <div class="row projects_title">
          <h1>Vulnerabilities</h1>
          <div class="project_skill_box">
            <div class="project_skill">
              <img class="skill_icon" src="images/readme.svg" alt="html_icon">
            </div>
          </div>
        </div>
        <p>• Documentation style project to check front end security vulnerabilities and offer solutions.
          Used a quickscan site to find vulnerabilities and OWASP for investigating solutions.
        </p>
        <br>

        <div class="pic-container">
          <img class="carousel_images pic" src="images/vulnerabilities.png" alt="Fourth slide">
        </div>
        <br>
        <div class="row project_button_alignment">
          <a class="project_buttons" href="https://adevlinb.github.io/vulnerabilities-project/" target="_blank">SecDoc</a>
          <a class="project_buttons" href="https://github.com/adevlinb/vulnerabilities-project" target="_blank">GITHUB REPO</a>
          <a class="project_buttons" href="https://github.com/adevlinb/vulnerabilities-project" target="_blank">OWASP</a>
        </div>

        <p>Please check out the deployed site and github link to see some documentation style and
         approaches to common security vulnerabilities.
         <small>OWASP = (Open Web App Security Project)</small>
        </p>
      </div>

      <div class="projects">
        <div class="row projects_title">
          <h1>XYLA</h1>
          <div class="project_skill_box">
            <div class="project_skill">
              <img class="skill_icon" src="images/react.svg" alt="react_icon">
            </div>
            <div class="project_skill">
              <img class="skill_icon" id="node" src="images/nodejs.svg" alt="nodejs_expressjs_icon">
            </div>
            <div class="project_skill">
              <img class="skill_icon" src="images/mongodb.svg" alt="mongodb_icon">
            </div>
          </div>
        </div>
        <p>• Social app for book lovers that allows users to add books to their library, make recommendations, make
          posts, and comment on other users posts in the "social wall."
        </p>
        <br>

        <div class="pic-container">
          <img class="carousel_images pic" src="images/xyla.png" alt="Fourth slide">
        </div>
        <br>
        <div class="row project_button_alignment">
          <a class="project_buttons" href="https://xyla-books.herokuapp.com/" target="_blank">JOIN XYLA</a>
          <a class="project_buttons" href="https://github.com/adevlinb/XYLA" target="_blank">GITHUB REPO</a>
        </div>

        <p>Join XYLA today and get started sharing books with your friends!
          Or access the GitHub Repo to take a look at the effort that went into building this amazing site!</p>
      </div>

      <div class="projects">
        <div class="row projects_title">
          <h1>Taste•Buds</h1>
          <div class="project_skill_box">
            <div class="project_skill">
              <img class="skill_icon" src="images/python.svg" alt="mongodb_icon">
            </div>
            <div class="project_skill">
              <img class="skill_icon" src="images/django.svg" alt="django_icon">
            </div>
            <div class="project_skill">
              <img class="skill_icon" src="images/postgresql.svg" alt="postgres_icon">
            </div>
          </div>
        </div>
        <p>• Full CRUD dining events and recipe saving app that allows users to create a profile, join groups, create
          events, and then recommend their recipes w/ option to vote on recipes.
        </p>
        <br>


        <div class="pic-container">
          <img class="carousel_images pic" src="https://i.imgur.com/sq1FqTx.png" alt="Third slide">
        </div>
        <br>
        <div class="row project_button_alignment">
          <a class="project_buttons" href="https://taste-buds-dining.herokuapp.com/" target="_blank">JOIN TASTE.BUDS</a>
          <a class="project_buttons" href="https://github.com/adevlinb/fakebuds" target="_blank">GITHUB REPO</a>
        </div>
        <p>Join Taste.Buds today and get started sharing recipes with your friends and creating dining events!
          Or access the GitHub Repo to take a look at the effort that went into building this amazing site!</p>

      </div>


      <!-- <br> -->

      <div class="projects">
        <div class="row projects_title">
          <h1>Climate Events</h1>
          <div class="project_skill_box">
            <div class="project_skill">
              <img class="skill_icon" src="images/javascript.svg" alt="javascript_icon">
            </div>
            <div class="project_skill">
              <img class="skill_icon" id="node" src="images/nodejs.svg" alt="nodejs_expressjs_icon">
            </div>
            <div class="project_skill">
              <img class="skill_icon" src="images/mongodb.svg" alt="mongodb_icon">
            </div>
          </div>
        </div>
        <p>• Events logging app and diary with weather data based on user provided address. Events accessed via
          dashboard
          main page that organizes based on upcoming dates and includes a searchable tagging.
        </p>
        <br>

        <div class="pic-container">
          <img class="carousel_images pic" src="images/climateevents.png" alt="Second slide">
        </div>
        <br>
        <div class="row project_button_alignment">
          <a class="project_buttons" href="https://climate-events.herokuapp.com/" target="_blank">JOIN CLIMATE EVENTS</a>
          <a class="project_buttons" href="https://github.com/adevlinb/climate-events" target="_blank">GITHUB REPO</a>
        </div>
        <p>Join Climate Events today via google account and log your events so you can stay up to date with weather data
          for that event!
        </p>
      </div>



      <!-- <br> -->
      <div class="projects">
        <div class="row projects_title">
          <h1>Minesweeper</h1>
          <div class="project_skill_box">
            <div class="project_skill">
              <img class="skill_icon" src="images/javascript.svg" alt="javascript_icon">
            </div>
            <div class="project_skill">
              <img class="skill_icon" src="images/html_svg.svg" alt="html_icon">
            </div>
            <div class="project_skill">
              <img class="skill_icon" src="images/css_svg.svg" alt="css_icon">
            </div>
          </div>
        </div>

        <p>• Worked through the logic to build a digital version of the popular Minesweeper game. Using DOM
          manipulation and "click" event listeners to access elements, update state, and develop winning logic.
        </p>
        <br>

        <div class="pic-container">
          <img class="carousel_images pic" src="images/minesweeper.png" alt="First slide">
        </div>
        <br>
        <div class="row project_button_alignment">
          <a class="project_buttons" href="https://adevlinb.github.io/minesweeper/" target="_blank">PLAY MINESWEEPER</a>
          <a class="project_buttons" href="https://github.com/adevlinb/minesweeper" target="_blank">GITHUB REPO</a>
        </div>
        <p>Check out the digital version of the popular 1970's Mastermind coding game.
          Or access the GitHub Repo to take a look at the effort that went into building this amazing site!</p>
        <br>
        <br>
      </div>

      <div class="projects">
        <div class="row projects_title">
          <h1>Mastermind</h1>
          <div class="project_skill_box">
            <div class="project_skill">
              <img class="skill_icon" src="images/javascript.svg" alt="javascript_icon">
            </div>
            <div class="project_skill">
              <img class="skill_icon" src="images/html_svg.svg" alt="html_icon">
            </div>
            <div class="project_skill">
              <img class="skill_icon" src="images/css_svg.svg" alt="css_icon">
            </div>
          </div>
        </div>

        <p>• Simplified coding logic to build a digital version of the popular 1970's Mastermind coding game. Using DOM
          manipulation and "click" event listeners to access elements, update state, and develop winning logic.</p>
        <br>


        <div class="pic-container">
          <img class="carousel_images pic" src="images/mastermind.png" alt="First slide">
        </div>
        <br>
        <div class="row project_button_alignment">
          <a class="project_buttons" href="https://adevlinb.github.io/Mastermind/" target="_blank">PLAY MASTERMIND</a>
          <a class="project_buttons" href="https://github.com/adevlinb/Mastermind" target="_blank">GITHUB REPO</a>
        </div>
        <p>Check out the digital version of the popular 1970's Mastermind coding game.
          Or access the GitHub Repo to take a look at the effort that went into building this amazing site!</p>
        <br>
        <br>
      </div>
    </div>
    <div class="bottom">
      <a href="#contact">
        <div class="blue_arrow"></div>
      </a>
    </div>

  </div>

  <div id="contact">
    <h1 class="titles">Let's connect!</h1>
    <div class="row" id="contact_links">
      <div class="column">

        <a href="https://github.com/adevlinb" target="_blank"><img class="github_contact" src="images/GitHub.png"
            alt="github_main">github</a>
      </div>
      <a href="https://www.linkedin.com/in/devlin-booth/" target="_blank"><img id="linkedin" class="github_contact"
          src="images/linkedin.svg" alt="linked_in">linkedin</a>
      <a href="images/Devlin Booth Resume 91322PDF.pdf" target="_blank"><img class="github_contact" id="resume"
          src="images/resume.svg" alt="resume">resume</a>
      <a href="mailto:adevlin.booth@gmail.com" target="_blank"><img class="github_contact" id="email"
          src="images/email.svg" alt="email">email</a>
    </div>
  </div>


  <footer>
    <a id="top" href="#body">back to top</a>
  </footer>
</body>

</html>
