body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  background-image: url("../images/bamboo12.png");
  background-size: contain;
  font-weight: 900;
}

.horizontal {
  display: flex;
  flex-direction: row;
  width: 100vw;
  padding-top: 5vh;
}

.vertical {
  display: flex;
  flex-direction: column;
  align-content: center !important;
}

#headline {
  margin: 10px;
  color: rgb(235, 235, 235);
}

.nav-link {
  /* color: #FFBD75; */
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
}

.nav-link:hover {
  /* color: #FFBD75; */
  color: white;
  text-decoration: none;
}

.git_links {
  margin: 10px;
  color: blue;
}

.app_links {
  margin: 20px;
  color: red;
}

.navbar, .footer {
  background-color: rgba(0,0,0,0.4);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 5vw;
  padding-right: 10vw;
  margin: 0;
}

.nav-item {
  list-style: none;
  display: inline;
  margin: 20px;
}

/* #carousel {
  border-style: solid;
  border-radius: 50px;
  border-width: 5px;
  border-color: rgba(0, 0, 0, 0.7);
  height: 75vh;
  max-height: 500px;
  max-width: 75vw;
  width: fit-content;
  align-self: center;
  margin: auto;
} */

/* #carousel-slide {
  max-width: 650px;
  width: fit-content;
} */

/* #mastermind {
  max-height: 75vh;
  min-height: 500px;
  max-width: 610px;
  width: auto;
  object-fit: cover;
}

#climate {
  max-height: 75vh;
  width: auto;
  max-width: 610px;
  object-fit: cover;
  min-height: 500px;
}

#taste {
  max-height: 75vh;
  width: auto;
  max-width: 610px;
  object-fit: fill;
}


#xyla {
  max-height: 75vh;
  max-width: 610px;
  width: auto;
  object-fit: cover;
} */

.caption {
  background: white;
}

#left {
  max-width: 30vw;
  overflow: visible;
}

#right {
  max-width: 80vw;
  align-self: center;
  margin: 0 auto;
}

p {
  margin-top: 15px;
  align-self: center;
}

pre {
  text-align: left;
  margin: 0 auto;
  left: 0;
  font-size: 0.8vw;
  line-height: 2.25vh;
}

pre > a {
  color: rgb(59, 59, 59);
}

#inline {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

#foot-txt {
  margin: 10px;
}

.title {
  font-size: 1vw;
}

.tech {
  color:rgba(6, 51, 175, 0.7)
}

.modal::backdrop {
  background: rgb(0 0 0 / 0.4);
}

.carousel {
  position: relative;
  height: 60vh;
  width: 40vw;
  margin: 0 auto;
}

.carousel_images {
  width: 600px;
  height: 100%;
  object-fit: cover;

}

.carousel_track_container {
  background: green;
  height: 100%;
  position: relative;
  overflow: hidden;
  border: 2px solid rgba(0, 0, 0, 0.7);
  border-radius: 15px;
}

.carousel_track {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  width: 30vw;
  height: 100%;
  width: auto;
  transition: transform 500ms ease-in;
}

.carousel_slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carousel_button {
  /* position: absolute; */
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  cursor: pointer;
}

.carousel_button--left {
  left: -25px;
}

.carousel_nav {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.carousel_indicator {
  border: 0;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: black;
  margin: 12px;
  cursor: pointer;
}

.carousel_indicator.current_slide {
  background: red;
}

.is_hidden {
  display: none;
}

.buttonDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonDiv > button {
  height: 1vh;
}