body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  background-image: url("../images/bamboo12.png");
  background-size: contain;
  font-weight: 900;
}

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

/*************** NAV BAR *****************/

.navbar {
  background-color: rgba(0,0,0,0.4);
  height: 7vh;
}

.navbar > div:nth-child(1) {
  color: white;
  position: absolute;
  left: 4vw;
  top: 1vh;
  margin-right: 1vw;
}

.navbar-ul {
  background-image: url("../images/bamboo12.png");
  background-size: contain;
  position: fixed; 
  width: 100%;
  height: 88vh;
  left: -100%;
  top: 7vh;
  transition: all .5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 5;
}

input:checked ~ .navbar-ul {
  left: 0;
}

#check:checked ~ label #btn {
  display: none;
}

label #cancel {
  display: none;
}

#check:checked ~ label #cancel {
  display: flex;
  align-items: center;
}

label #btn {
  display: flex;
  align-items: center;
}

.nav-li {
  display: block;
  margin: 50px 0;
  line-height: 2.5vh;
}

.nav-a {
  color: rgba(27, 27, 27, 0.9);
  position: relative;
  text-transform: uppercase;
  padding: 5px 0;
}

.nav-a:before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background: rgb(24, 95, 228);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .4s linear;
}

.nav-a:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}

label #btn, label #cancel {
  color: white;
  font-size: 30px;
  float: right;
  cursor: pointer;
  height: 7vh;
  margin: auto 6.5vw;
}

#check {
  display: none;
} 

#headline {
  margin: 10px;
  color: rgb(235, 235, 235);
}


/*************** MAIN CONTAINERS *****************/
.mainSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 88vh;
  max-height: 88vh;
}

#left {
  display: flex;
  width: 100vw;
  align-items: center;
}

#right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2.5vh;
  max-height: 70vh;
}

/*************** PROJECT INFO / CARDS *****************/

.background {
  background-color: none;
  padding: 7.5px;
  margin: 0px;
  text-align: left;
  left: 0;
  font-size: 1.8vw;
  line-height: 2vh;
  box-shadow: none;
  border-radius: none;
  border: none;
  transition: all 0.5s ease-in-out;
  width: 90%;
  margin: 1vh auto 0 auto;
  display: none;
}

.selectedSpan {
  background-color: rgb(247, 247, 247);
  border: 0.75px solid black;
  box-shadow: 3px 5px 5px rgb(155, 155, 155);
  display: flex;
  flex-direction: row;
  border-radius: 10px;
}

.background > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid black;
  justify-content: center;
  padding: 5px;
  padding-right: 2.5vw;
  margin-right: 5vw;
}

.background > div:nth-child(2n) {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 3vw;
  color: #fb311ecc;
  text-decoration: none;
}

.git_links {
  margin: 10px;
  font-size: 2vw;
  color: blue;
}


/********************** CAROUSEL ************************/

.carousel_track_container {
  position: relative;
  overflow: hidden;
  border: 2px solid rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  box-shadow: 3px 5px 5px rgb(92, 92, 92);
  background-image: url("../images/bamboo12.png");
  height: 50vh;
  width: 65vw;
}

.carousel_track {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
  transition: transform 500ms ease-in;
  width: 65vw; 
}

.carousel_slide {
  position: absolute;
  top: 0;
  bottom: 0;
}


/***** CAROUSEL BUTTON CSS ******/
.carousel_button {
  display: none;
}

.buttonDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 62.5vh;
  width: fit-content;
}

/***** CAROUSEL IMAGE CSS ******/
.carousel_images {
  width: 65vw;
  height: 50vh;
  object-fit: cover;
  border-radius: 15px;
  border: 2px solid black;
}

#taste {
  object-fit: fill;
}

#xyla {
  object-fit: fill;
} 

/***** CAROUSEL BOTTOM NAV / INDICATOR DOTS ******/
.carousel_nav {
  display: flex;
  justify-content: center;
  /* margin: 10px; */
}

.carousel_indicator {
  border: 0;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: black;
  margin: 12px;
  cursor: pointer;
}

.carousel_indicator.current_slide {
  background: #fb311ecc;
}

/***** CAROUSEL LINKS at BOTTOM ******/
#inline {
  display: none;
}

/*************** ABOUT ME / MODAL / DIALOG / POP-UP *****************/

#backDiv {
  background-image: url("/images/profile_background.jpeg");
  background-position: 50%;
  background-size: cover;
  min-height: 20vh;
  height: 20vh;
  width: auto;
  display: flex;
}

#hi {
  margin-bottom: 0.5vh;
  margin-left: 2.75vw;
  transform: translateY(16.5vh);
  max-height: 50px;
}

.hello {
  color: white;
  margin: 0;
  text-align: left;
}

#devlin {
  margin-top: 5px;
  color: black;
  font-weight: 200;
}

#modalProfileImage {
  max-height: 14.5vh;
  width: auto;
  border-radius: 50%;
  border: 2px solid white;
  margin-left: 2.5vw;
  transform: translateY(12vh);
}

.modal_container {
  border-radius: 0;
  color: black;
  width: 0;
  height: 0;
  animation:fadein 1s;
  overflow: hidden;
}

.modalTitle {
  display: none;
}

.open {
  border-radius: 20px;
  min-width: 85vw; 
  min-height: 80vh; 
  display: flex;
  flex-direction: column;
}

dialog {
  margin: auto auto;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

#close_button {
  font-size: 2.5vh;
  padding: 2.5px 5px;
  color: rgb(0, 0, 0);
  background: white;
  border-radius: 50px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.8);
  right: 2.5vw;
  top: 3vh;
  position: absolute;
  cursor: pointer;
}

#close_button:hover {
  border-color: red;
  transform: scale(150%);
  transition: transform 500ms ease-in-out;
}


#aboutMe {
  display: flex;
  padding: 7.5px;
  padding-top: 40px;
  padding-bottom: 5px;
  height: 80%;
  margin-top:40px;
  font-size: 1.85vw;
}

#list {
  text-align: left;
  width: 21.5vw;     
  min-width: 21.5vw; 
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  box-shadow: inset 1px 1px 1px rgb(155, 155, 155);
  padding: 5px;
  line-height: 2.5vh;
}

#list > p {
  margin: 2.5px;
}

#aboutMeDescription {
  max-width: 100%;
  padding: 10px;
  padding-top: 0;
}

#aboutMeDescription > p {
  margin: 2.5px;
  margin-top: 0;
  text-align: justify;
  text-justify: inter-word;
  line-height: 2vh;
}

#aboutMeDescription > h3 {
  margin: 5px;
  margin-bottom: 2px;
  font-weight: 900;
  text-transform: uppercase;
  margin-left: 0;
  text-align: left;
}

#modalFooter {
  bottom: 0;
  width: 100%;
  min-height: 2.75vh;
  background-color: rgba(72, 126, 224, 0.7);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fadein {
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}

#open {
  cursor: pointer;
}

.modal::backdrop {
  background: black;
}

/*************** FOOTER *****************/
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.4);
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 5vh;
}

#foot-txt {
  margin: 10px;
}

/********************************************* MEDIA QUERIES ******************************************/
/********************************************* MEDIA QUERIES ******************************************/
/********************************************* MEDIA QUERIES ******************************************/
/********************************************* MEDIA QUERIES ******************************************/

@media only screen and (min-width: 750px) {
  /*************** MAIN CONTAINERS *****************/
  

  /*************** NAV *****************/

  .navbar-ul {
    background: none;
    top: 0;
    left: 0;
    display: block;
    height: 7vh;
    position: sticky;
  }

  .nav-li {
    display: inline-block;
    line-height: 7vh;
    margin: 0 15px;
  }

  label #btn, label #cancel {
    display: none;
  }



  /*************** PROJECT INFO / CARDS *****************/
  .background {
    font-size: 1.4vw;
  }
  
  /***** CAROUSEL  ******/
  .carousel_track_container {
    height: 60vh;
    width: 60vw;
  }

  .carousel_track {
    width: 65vw; 
  }
  
  .carousel_images {
    width: 60vw;
    height: 60vh;
  }

  .carousel_button {
    top: 50%;
    transform: translateY(-50%);
    border: 0;
    background: none;
    cursor: pointer;
    display: inline;
  }

  .carousel_button--left {
    left: -25px;
  }
  
  .is_hidden {
    pointer-events: none;
  }

  .buttonDiv {
    margin-bottom: 2vh;
    height: 65vh;
  }
  
  .buttonDiv > button {
    height: 1vh;
  }

  /*************** ABOUT ME / MODAL / DIALOG / POP-UP *****************/
  #modalProfileImage { 
    max-height: 16.5vh;
    transform: translateY(10.5vh);
  }

  .modalTitle {
    display: flex;
    margin-left: 1vw;
    justify-content: flex-end;
  }

  .modalTitle > h1 {
    margin: 7px;
    margin-top: 0;
  }

  #caption {
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 2px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }

  #caption > h6 {
    margin: 0;
  }

  .open {
    min-width: 70vw; 
    min-height: 80vh; 
  }

  #hi {
    transform: translateY(16.5vh);
    margin-left: 1.25vw;
  }

  #aboutMe {
    font-size: 1.32vw;
    margin-top: 20px;
    padding-top: 20px;
    
  }

  #list {
    width: 18vw;     
    min-width: 18vw; 
    line-height: 2.5vh; 
  }

}

@media only screen and (min-width: 900px) {
  /*************** MAIN CONTAINERS *****************/
  .mainSection {
    display: flex;
    flex-direction: row;
    max-height: 88vh;
  }
  
  #left {
    display: flex;
    flex-direction: column;
    width: 45vw;
    height: 88vh;
    overflow: visible;
    justify-content: space-evenly;
    align-items: center;
  }

  #right {
    display: flex;
    align-items: center;
    width: 55vw;
    max-height: 88vh;
  }
  
  /*************** NAV *****************/
  /* .navbar {
    padding-left: 11vw;
    padding-right: 9vw;
  } */

  /*************** PROJECT INFO / CARDS *****************/
  .background {
    display: flex;
    flex-direction: column;
    width: 37.5vw;
    height: 17vh;
    font-size: 1vw;
    justify-content: center;
    margin: 0.5vh 1vh;
    line-height: 3vh; 
    padding: 3px;
    padding-left: 6px;
  }
  
  .selectedSpan {
    width: 37.5vw;
    height: 17vh;
    font-size: 1vw;
    border-radius: 5px;
  }  

  .background > div:nth-child(1) {
    display: flex;
    flex-direction: row;
    border: none;
    padding: 0;
  }

  .background > div:nth-child(2n) {
   line-height: 2.5vh; 
  }

  .title {
    font-size: 1.25vw;
  }

  .git_links {
    font-size: 1.3vw;
    color: blue;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
  }

  /*************** ABOUT ME / MODAL / DIALOG / POP-UP *****************/
  .open {
    min-width: 60vw; 
    min-height: 80vh; 
  }

  #modalProfileImage { 
    max-height: 17vh;
    transform: translateY(10vh);
  }

  #aboutMe {
    font-size: 1vw;
    margin-top: 20px;
  }

  #list {
    width: 18vw;     
    min-width: 18vw; 
    line-height: 2.5vh; 
  }

  /*************** LINKS BELOW CAROUSEL *****************/
  #inline {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
  }
  
  .app_links {
    margin: 20px;
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
  }
  
  .app_links:hover {
    color: #fb311ecc;
    text-decoration: none;
  }
  
  /*************** CAROUSEL *****************/
  .carousel_track_container {
    height: 65vh;
    width: 45vw;
  }

  .carousel_track {
    width: 60vw; 
  }
  
  .carousel_images {
    width: 45vw;
    height: 65vh;
  }

}

@media only screen and (min-width: 1000px) {
  /*************** ABOUT ME / MODAL / DIALOG / POP-UP *****************/
  #aboutMe {
    font-size: 0.9vw;
  }

  .background {
    font-size: 1vw;
  }
}